* {
    width: 90%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: grid;
    grid-template-columns: auto auto auto;
}

.left {
    float: left;
    position: fixed;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.row1 div {
    align-items: center;
}

.contact-item {
    display: flex;
}

.contact-item>p {
    text-align: left;
}

.contact-item a {
    text-align: left;
}

.child-left {
    flex: 2 1 0;
}

.child-left h1,h2,h2 {
    margin-left: 0px;
}

.contact-item>i {
    text-align: left;
}

.content-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 5px;
    padding-bottom: 5px;
}


.child-right {
    margin-top: 0px;
    text-align: right;
    flex: 1 1 0;
}

.row1 .child-right {
    margin-top: 10px;
}

.skill-column > p {
    margin-left: 37.4667px; /*Same as computed margin-left on p elements in content-rows*/
}